amqp==2.2.2
billiard==3.5.0.3
celery==4.1.0
certifi==2016.2.28
coverage==4.4.1
Django==1.11.5
django-celery-results==1.0.1
django-guardian==1.4.9
django-rest-framework==0.1.0
django-widget-tweaks==1.4.1
djangorestframework==3.6.4
gunicorn==19.7.1
kombu==4.1.0
numpy==1.13.1
olefile==0.44
pandas==0.20.3
patsy==0.4.1
Pillow==4.2.1
psycopg2==2.7.3.1
python-dateutil==2.6.1
pytz==2017.2
scipy==0.19.1
six==1.10.0
statsmodels==0.8.0
vine==1.1.4
whitenoise==3.3.0
